# LVGL Editor
preview-build/
build/
.cache.json

# CMake 构建产物
cmake-build-*/
_deps/
CMakeCache.txt
CMakeFiles/
CMakeUserPresets.json
compile_commands.json
lv_conf.h

# 编译中间产物
*.o
*.obj
*.a
*.lib
*.exe
*.dll
*.so
*.dylib

# 编辑器 / IDE 临时文件
*.log
*.swp
*.swo
*~
*.bak
*.orig
*.rej

# 操作系统
.DS_Store
Thumbs.db
desktop.ini
